.ulmenu{
      list-style: none;
      list-style-type: none;
      list-style-position: outside;
}
 
.limenu{
      line-height: 30px;
      font-size: 16px;
      cursor:pointer;
}
 
.divmenu{
      width:250px;
      position:absolute;      
      border:1px solid black;
       
      -moz-box-shadow: 0 0 5px #888;
      -webkit-box-shadow: 0 0 5px#888;
      box-shadow: 0 0 5px #888;
}

#botoncito{
      background-color: black !important; 
      border-color: black !important;
}

.cuadritos {
      text-align: left !important;
      font-size: 15px !important;
      background: #4FEB88 !important;
      color: #000000 !important;
}

.swal2-popup .swal2-content {
      font-size: 2em !important;
      text-align: center !important;
}