.content {
    margin: 0px;
    padding: 0px;
}

.react-datepicker-wrapper {
    margin: 0px 20px 20px;
    font-size: medium;
}

@media screen and (max-width: 800px) {
    .hide-calendar-technicians{
        display: none;
    }
    .margin-mobile{
        margin-top: 25px;
        margin-left: 2px;
    }
    .main-header > .logo {
        display: none;
    }
    .fc-toolbar h2 {
        font-size: 1em !important;
        margin: 0 !important;
        text-align: center;
    }
}