.content-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}
.loader {
    position: relative;
    width: 100px;
    height: 100px;
}

.loader span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
}

.loader span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    transform: scale(0);
    animation: animate 2s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
    0% {
        transform: scale(0);
    }
    10% {
        transform: scale(1.2);
    }
    80%,
    100% {
        transform: scale(0);
    }
}

.insect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: rotating 2s linear infinite;
    animation-delay: -1s;
}

@keyframes rotating {
    0% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(370deg);
    }
}

.insect::before {
    content: '\f188';
    font-family: fontAwesome;
    position: absolute;
    top: 80px;
    left: 80px;
    color: #fff;
    font-size: 40px;
    transform: rotate(240deg);
}
