 /* Buttons Styles Generals */

 .btn-primary {
     background: #1E8CC7 !important;
     color: #ffffff !important;
 }

 .btn-primary:hover,
 .btn-primary:active,
 .btn-primary.hover {
     background: #fff !important;
     color: #1E8CC7 !important;
 }

 .btn-primary-outline {
     background: #fff !important;
     color: #1E8CC7 !important;
     border-color: #85C1E9;
 }

 .btn-primary-outline:hover,
 .btn-primary-outline:active,
 .btn-primary-outline.hover {
     background: #1E8CC7 !important;
     color: #ffffff !important;
 }

 .btn-danger:hover,
 .btn-danger:active,
 .btn-danger.hover {
     background: #fff !important;
     color: #dd4b39 !important;
 }

 .btn-primary-dark {
     background: #3C5898 !important;
     color: #ffffff !important;
     border-color: #7FB3D5;
 }

 .btn-primary-dark:hover,
 .btn-primary-dark:active,
 .btn-primary-dark.hover {
     background: #ffffff !important;
     color: #3C5898 !important;
 }

 .btn-secondary {
     background: #55b7a4 !important;
     color: #ffffff !important;
     border-color: #55b7a4;
 }

 .btn-secondary:hover,
 .btn-secondary:active,
 .btn-secondary.hover {
     background: #fff !important;
     color: #55b7a4 !important;
 }

 .btn-secondary-outline {
     background: #fff !important;
     color: #55b7a4 !important;
     border-color: #55b7a4;
 }

 .btn-secondary-outline:hover,
 .btn-secondary-outline:active,
 .btn-secondary-outline.hover {
     background: #55b7a4 !important;
     color: #ffffff !important;
 }

 .btn-default {
     background-color: #f4f4f4;
     color: #444;
     border-color: #ddd;
 }

 .btn-default:hover,
 .btn-default:active,
 .btn-default.hover {
     background-color: #e7e7e7;
 }
 /* header title */

 .header-title {
     background: #3C5898;
     color: white;
 }
 /* Styles Tables */

 .table-general {
     background: white;
     color: black;
     font-size: .9em;
 }
 /* Forms Inputs */

 .text-input {
     border: .1em solid rgba(219, 219, 219, 0.81);
     border-radius: 3px;
     width: 110px;
     height: 36px;
     color: black;
     font-size: .7em;
 }

 .form-control-pwa {
     display: block;
     width: 100%;
     height: 29px;
     padding: 6px 12px;
     font-size: 1em;
     text-align: center;
     line-height: 1.6;
     color: black;
     background-color: #fff;
     background-image: none;
     border: 1px solid;
     border-radius: 4px;
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -webkit-trvaansition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
     transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
 }
 /* Header-Tables */

 .header-table {
     text-align: center;
     width: 120px;
 }

 /* Schedule Custom View */
 .check-days {
     margin: 0 !important;
 }

 .col-days {
     padding-left: 0 !important;
 }

 .vakata-context {
     z-index: 10100 !important;
 }
 .text-bold-pwa {
     font-weight: bold;
 }

 .padding-panel-plans {
     padding: 4px 6px !important;
     font-size: 0.8em !important;
 }

 @media (max-width: 1650px) {
     .lb-custom-qt {
         font-size: 0.7em;
     }
 }