/*-- Space-Class --*/

[class|=space] {
    display: block;
    width: 100%;
    overflow: hidden
}

.space-10 {
    height: 10px;
}

.space-20 {
    height: 20px;
}

.space-30 {
    height: 30px;
}

.space-40 {
    height: 40px;
}

.space-50 {
    height: 50px;
}

.space-60 {
    height: 60px;
}

.space-70 {
    height: 70px;
}

.space-80 {
    height: 80px;
}

.space-90 {
    height: 90px;
}

.space-100 {
    height: 100px;
}

/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1280px) {
    .mainmenu-area ul.nav.navbar-nav li a {
        margin: 0 10px;
    }
    .feature-area,
    .testimonial-area,
    .video-area,
    .progress-area {
        background-image: none;
        margin-bottom: 0;
    }
    .testimonial-area {
        padding: 100px 0;
    }
    .team-slide .owl-controls .owl-nav {
        text-align: center;
    }
    .team-slide .owl-controls .owl-nav > div {
        position: static;
        display: inline-block;
        margin: 30px 15px 15px 15px;
    }
    .footer-bottom .footer-menu ul,
    .footer-area {
        text-align: center;
    }
    .angle:after {
        height: 80px;
    }
    .prueba_svg{
        background: url('../images/log.svg') no-repeat top left, url('../images/log2.svg') no-repeat top left;
        background-size: 250px, 500px;
        background-position: top 60px left,-250px -250px;
    }

}

/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .home-area {
        padding: 100px 0;
        margin-bottom: 0;
    }
    .mainmenu-area ul.nav.navbar-nav li a {
        margin: 0 10px;
    }
    .video-area,
    .progress-area {
        background-image: none;
    }
    .mobile-image {
        display: none !important;
    }
    .feature-area,
    .video-area,
    .progress-area {
        background-image: none;
        margin-bottom: 0;
        margin-top: 0;
    }
    .testimonial-area {
        padding: 60px 0;
    }

    .video-photo {
        margin-bottom: 60px;
    }
    .team-slide .owl-controls .owl-nav {
        text-align: center;
    }
    .team-slide .owl-controls .owl-nav > div {
        position: static;
        display: inline-block;
        margin: 30px 15px 15px 15px;
    }
    .footer-bottom .footer-menu ul,
    .footer-area {
        text-align: center;
    }
    .angle:after {
        height: 80px;
    }
}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    body {
        font-size: 14px;
    }
    h1 {
        font-size: 20px !important;
    }
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: 12px !important;
    }
    .bttn-white {
        padding: 8px 30px;
    }
    .section-padding {
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .angle:after {
        height: 60px;
    }
    /*-- Main-Menu-Style --*/
    .mainmenu-area {
        padding: 15px 0;
    }
    .mainmenu-area:before {
        opacity: 0.9;
    }
    .mainmenu-area .navbar-toggle {
        border: 1px solid #ffffff;
        border-radius: 1px;
    }
    .mainmenu-area .navbar-toggle .icon-bar {
        background-color: #ffffff;
        height: 2px;
        border-radius: 0;
    }
    .mainmenu-area #primary_menu {
        overflow-y: auto;
        max-height: 80vh;
    }
    .mainmenu-area #primary_menu ul.nav.navbar-nav li {
        display: block;
    }
    .mainmenu-area #primary_menu ul.nav.navbar-nav li a {
        padding: 15px;
        border: none;
    }
    .mainmenu-area #primary_menu ul.nav.navbar-nav li.active a,
    .mainmenu-area #primary_menu ul.nav.navbar-nav li a:hover {
        background-color: #ffffff;
        color: #5e88fc;
    }
    /*-- Home-Area --*/
    .home-area {
        padding-top: 120px;
        padding-bottom: 100px;
        margin-bottom: 0;
    }
    .mobile-image {
        display: none !important;
    }
    .feature-area,
    .video-area,
    .progress-area {
        background-image: none;
        margin-bottom: 0;
        margin-top: 0;
    }
    .testimonial-area {
        padding: 60px 0;
    }
    .team-slide .owl-controls .owl-nav {
        text-align: center;
    }
    .team-slide .owl-controls .owl-nav > div {
        position: static;
        display: inline-block;
        margin: 30px 15px 15px 15px;
    }

    .gallery-slide .owl-stage-outer {
        background: url('../images/smartphonePest.png') no-repeat center right / auto 100%;
    }

    .gallery-slide .item {
        margin: 16px 14px 28px 14px;
        overflow: hidden;
        border-radius: 30px;
    }

    .gallery-slide .owl-controls {
        position: static;
        text-align: right;
        padding-right: 80px;
    }

    .gallery-slide .owl-controls .owl-nav > div {
        display: inline-block;
        background-color: #ffffff;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        text-align: center;
        line-height: 70px;
        color: rgba(72, 44, 191, 1);
        margin: 5px;
    }

    .gallery-slide .owl-controls .owl-dots .owl-dot {
        display: inline-block;
        margin: 3px;
    }

    .gallery-slide .owl-controls .owl-dots .owl-dot span {
        display: inline-block;
        width: 5px;
        height: 5px;
        margin: 5px;
        border-radius: 50%;
        background-color: #ffffff;
        opacity: 0.5;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    .gallery-slide .owl-controls .owl-dots .owl-dot.active span {
        opacity: 1;
        -webkit-transform: scale(2);
        -ms-transform: scale(2);
        transform: scale(2);
    }

    .footer-bottom .footer-menu ul,
    .footer-area {
        text-align: center;
    }
    .subscribe-form {
        padding: 20px;
    }
    .subscribe-form form .bttn-white {
        position: static;
        margin-top: 20px;
    }
    .subscribe-form form .control {
        padding-right: 15px;
    }

    .post-single.sticky .post-media {
        margin-right: 0;
        float: none;
        width: 100%;
    }

    .form-double .box {
        width: 100%;
        float: none;
    }
    .post-single {
        padding: 20px;
    }
    .post-single h2 {
        font-size: 26px;
    }
    .post-single blockquote {
        padding: 10px;
        font-size: 14px;
    }
    .comments-list .comment {
        padding-left: 0;
    }
    .comments-list .comment .comment-pic {
        position: static;
        margin-bottom: 30px;
    }
    .prueba_svg{
        background: url('../images/logmancel.svg') no-repeat top left, url('../images/logcirclecel.svg') no-repeat top left;
        background-size: 70px, 120px;
        background-position: top 10px right,-50px -50px;
    }

    .backgronund-circle{
        top: 0px;
        position: absolute;
        height: 15%;
        display: block;
        width: 25%;
        z-index: 9999;
    }

    .page-title
    .title {
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        color: #1E8CC7 !important;
        font-weight: 600;
        padding-top: 0px;
        font-size: 1.2rem;
    }

    .video-photo > img {
        width: 100%;
        height: 200px;
    }
}

/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 400px) and (max-width: 767px) {
}