.cuadrado1 {
    width: 3vh;
    max-width: 100px;
    height: 3vh;
    max-height: 100px;
    position: relative;
    background: #3180B8;
    margin-bottom: 4px;
}
.cuadrado2 {
    width: 3vh;
    max-width: 100px;
    height: 3vh;
    max-height: 100px;
    position: relative;
    background: #4ADBEA;
    margin-bottom: 4px;
}
.cuadrado3 {
    width: 3vh;
    max-width: 100px;
    height: 3vh;
    max-height: 100px;
    position: relative;
    background: #49EBA8;
}
.left {
    float: left !important;
}
.right {
    float: right !important;
}

.center{
   display:inline-block !important;
}
