body{
	background-color:  #ffblack;
	margin-left: 0;
	margin-right: 0;
	border:0;
}
.full {
	background: url(../img/FONDO1.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.container-fluid
{
	padding-left: 0;
	padding-right: none;
	margin-left: 0;
	shape-margin: 0;
}
.menu-1{
	background-color: #ff;
}
.navbar-brand>img{
	display: block;
	height: 4em;
	width: 10em;
	margin-top: -19.5px;
	margin-left: -1em;
}
.slider-1{
	height: 100vh;
	width:  100%;
	text-align: center;
}
.slider-2{
	height: 100%;
	width:  100%;
	text-align: center;
}

.slider-2{
	background: #fff;
}
.slider-3{

	background: #7b449d;
	background: -webkit-gradient(linear, left top, right top, from(rgba(83, 40, 139, 0.92)), to(rgba(73, 140, 205, 0.88)));
	/* Para Mozilla */
	background: -moz-linear-gradient(left, rgba(123,68,157,1), rgba(68,106,159,1));
	/* Para enteriores a IE8 */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorstr='#88ff0000', EndColorstr='#3300ff00');
	/* Para IE8 */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorstr='#88ff0000', EndColorstr='#3300ff00');
	
	color: white;
	font-weight: bold;
	padding: 2.5% 0 0 20%;
	margin-top: 3em;
	margin-bottom: 2em;
	height: 15em;
}
.footer{
	font-size: 1.3em;
	text-align: center;
	margin-top: 2em;
	margin-left: -4em;
}

.imgfooter{
	margin-right: 4em;
	margin-bottom: 4em;
	margin-top: 2em;
}

.titulo
{  font-family: "Arial", Georgia, Serif;
color: #fff;
font-size: 190%;
font-weight: bold;
text-align: center;
margin-bottom: 1em;

}

.subtitulo
{
	font-family: "Arial", Georgia, Serif;
	color: #fff;
	font-size: 160%;
	text-align: center;
}
p
{
	text-align: justify;
}
.navbar
{
	background-color: rgba(195, 194, 194, 0.65);
	border-color: transparent;
	margin-bottom: 0;
	border:0;
	color: #00a7e1;
	text-decoration-color: white;
}

.navbar-default .navbar-nav > li > a
{
	color: #fff;
	font-size: 1.5em;
}
.navbar-default .navbar-nav > li > a:hover{
	color: #fff;
}
.navbar-default .navbar-brand
{
	color: white;
}
.navbar-default .navbar-brand:hover{
	color: white;
}
.nav.col-md-12.navbar.navbar-default.navbar-fixed-top{
	color: rgba(248, 248, 248, 0.8);
}
.navbar-brand
{
	font-size: 40px;
}
h4{
	text-align: justify;
	text-align: center;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
	width: 30em;
}
@media (min-width: 880px) {
  .titulo
{  font-family: "Arial", Georgia, Serif;
color: #fff;
font-size: 350%;
font-weight: bold;
text-align: center;
margin-bottom: 1em;

}
}