		 #steps>li.active>a, #steps>li.active>a:focus, #steps>li.active>a:hover {
		 	background-color: #232e63;
		 	color: #E9ECFF;
		 	cursor: default;
		 	margin-top: -19px;
		 	padding: 1em 3em;
		 	border:1px solid #232e63;
		 	border-bottom-color: transparent;
		 	text-align: left;
		 }
		 #steps>li>a:hover{
		 	color: #232e63;
		 	background-color: #fff;
		 }
		 #steps li a:hover{
		 	margin-top: -19px;
		 	padding: 1em 3em;
		 }

		 #steps li a {
		 	border-radius:0;
		 	overflow: hidden;
		 	background:#fff;
		 	color:#404353;
		 	text-transform:uppercase;
		 	box-shadow: 8px 12px 25px 2px rgba(0, 0, 0, 0.4);
		 	transition: all 0.4s ease 0s;
		 	-webkit-transition: all 0.4s ease 0s;
		 	-moz-transition: all 0.4s ease 0s;
		 	-o-transition: all 0.4s ease 0s;
		 }

		 #steps.nav-justified>li>a {
		 	margin-bottom: 5px;
		 	text-align: left;
		 }

		 .borra {
		 	text-align: left;
		 	font-family: Helvetica;
		 	padding: 1em;
		 	font-size: .8em;
		 }

		 @media only screen and (max-width: 820px){
		 	.borra{
		 		display: none;
		 	}
		 	#steps li{ width:100%; }
		 	#steps li a{
		 		margin:0;
		 		padding:1em 4em;
		 		box-shadow: -2px -1px 25px 2px rgba(0, 0, 0, 0.4);
		 	}
		 	#steps li:first-child a,
		 	#steps li:last-child a{
		 		border-radius: 0;
		 	}
		 	#steps li a:hover,
		 	#steps li.active a:hover,
		 	#steps li.active a{
		 		margin:0;
		 	}
		 }

		 @media only screen and (max-width: 1238px) {
		 	.stepTitle{
		 		font-size: 1em;
		 	}
		 	
		 }