/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    margin: 0 0 1rem 0;
  }

  tr:nth-child(odd) {
    background: white;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
  table .mobile-td-branch:nth-of-type(1):before {
    content: "Clave";
  }
  table .mobile-td-branch:nth-of-type(2):before {
    content: "Nombre";
  }
  table .mobile-td-branch:nth-of-type(3):before {
    content: "Tipo";
  }
  table .mobile-td-branch:nth-of-type(4):before {
    content: "Teléfono";
  }
  table .mobile-td-branch:nth-of-type(5):before {
    content: "Correo Eléctronico";
  }
  table .mobile-td-branch:nth-of-type(6):before {
    content: "Nombre del Responsable";
  }
  table .mobile-td-branch:nth-of-type(7):before {
    content: "Calle";
  }
  table .mobile-td-branch:nth-of-type(8):before {
    content: "Número";
  }
  table .mobile-td-branch:nth-of-type(9):before {
    content: "Colonia";
  }
  table .mobile-td-branch:nth-of-type(10):before {
    content: "Municipio";
  }
  table .mobile-td-branch:nth-of-type(11):before {
    content: "Estado";
  }
  table .mobile-td-branch:nth-of-type(12):before {
    content: "Código Postal";
  }

  /*
	Table Schedule view	*/
  table .mobile-td:nth-of-type(1):before {
    content: "Concepto";
  }
  table .mobile-td:nth-of-type(2):before {
    content: "Cantidad";
  }
  table .mobile-td:nth-of-type(3):before {
    content: "Frecuencia por mes";
  }
  table .mobile-td:nth-of-type(4):before {
    content: "Plazo en contrato en meses";
  }
  table .mobile-td:nth-of-type(5):before {
    content: "Precio unitario";
  }
  table .mobile-td:nth-of-type(6):before {
    content: "Opciones";
  }

}

.table-mobile {
  width: 100%;
  max-width: 100%;
  margin-bottom: 22px;
}

.table-mobile>thead>tr>th,
.table-mobile>thead>tr>td,
.table-mobile>tbody>tr>th,
.table-mobile>tbody>tr>td,
.table-mobile>tfoot>tr>th,
.table-mobile>tfoot>tr>td {
  line-height: 1.6;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.table-mobile>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

.table-mobile>caption+thead>tr:first-child>th,
.table-mobile>caption+thead>tr:first-child>td,
.table-mobile>colgroup+thead>tr:first-child>th,
.table-mobile>colgroup+thead>tr:first-child>td,
.table-mobile>thead:first-child>tr:first-child>th,
.table-mobile>thead:first-child>tr:first-child>td {
  border-top: 0;
}

.table-mobile>tbody+tbody {
  border-top: 2px solid #ddd;
}

.table-mobile .table {
  background-color: #f5f8fa;
}

.table-bordered {
  border: 1px solid #ddd;
}

table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}

table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}

.table-mobile>thead>tr>td.active,
.table-mobile>thead>tr>th.active,
.table-mobile>thead>tr.active>td,
.table-mobile>thead>tr.active>th,
.table-mobile>tbody>tr>td.active,
.table-mobile>tbody>tr>th.active,
.table-mobile>tbody>tr.active>td,
.table-mobile>tbody>tr.active>th,
.table-mobile>tfoot>tr>td.active,
.table-mobile>tfoot>tr>th.active,
.table-mobile>tfoot>tr.active>td,
.table-mobile>tfoot>tr.active>th {
  background-color: #f5f5f5;
}

.table-mobile>thead>tr>td.success,
.table-mobile>thead>tr>th.success,
.table-mobile>thead>tr.success>td,
.table-mobile>thead>tr.success>th,
.table-mobile>tbody>tr>td.success,
.table-mobile>tbody>tr>th.success,
.table-mobile>tbody>tr.success>td,
.table-mobile>tbody>tr.success>th,
.table-mobile>tfoot>tr>td.success,
.table-mobile>tfoot>tr>th.success,
.table-mobile>tfoot>tr.success>td,
.table-mobile>tfoot>tr.success>th {
  background-color: #dff0d8;
}

.table-mobile>thead>tr>td.info,
.table-mobile>thead>tr>th.info,
.table-mobile>thead>tr.info>td,
.table-mobile>thead>tr.info>th,
.table-mobile>tbody>tr>td.info,
.table-mobile>tbody>tr>th.info,
.table-mobile>tbody>tr.info>td,
.table-mobile>tbody>tr.info>th,
.table-mobile>tfoot>tr>td.info,
.table-mobile>tfoot>tr>th.info,
.table-mobile>tfoot>tr.info>td,
.table-mobile>tfoot>tr.info>th {
  background-color: #d9edf7;
}

.table-mobile>thead>tr>td.warning,
.table-mobile>thead>tr>th.warning,
.table-mobile>thead>tr.warning>td,
.table-mobile>thead>tr.warning>th,
.table-mobile>tbody>tr>td.warning,
.table-mobile>tbody>tr>th.warning,
.table-mobile>tbody>tr.warning>td,
.table-mobile>tbody>tr.warning>th,
.table-mobile>tfoot>tr>td.warning,
.table-mobile>tfoot>tr>th.warning,
.table-mobile>tfoot>tr.warning>td,
.table-mobile>tfoot>tr.warning>th {
  background-color: #fcf8e3;
}

.table-mobile>thead>tr>td.danger,
.table-mobile>thead>tr>th.danger,
.table-mobile>thead>tr.danger>td,
.table-mobile>thead>tr.danger>th,
.table-mobile>tbody>tr>td.danger,
.table-mobile>tbody>tr>th.danger,
.table-mobile>tbody>tr.danger>td,
.table-mobile>tbody>tr.danger>th,
.table-mobile>tfoot>tr>td.danger,
.table-mobile>tfoot>tr>th.danger,
.table-mobile>tfoot>tr.danger>td,
.table-mobile>tfoot>tr.danger>th {
  background-color: #f2dede;
}
